{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h3>{{ name }}</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
 </div>
</div>

{% if current_request %}
  <ul>
  {% for request in current_request %}
    <li>{{request.title}}</li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}

{% block scripts %}


{% endblock %}
