{% extends "base.html" %}

{% block body %}
    <div class="wrapper d-flex align-items-stretch">

        {% include 'sidebar.html' %}
        
        <!-- Page Content  -->
        <div class="content-container w-100">

            {% include 'topbar.html' %}

            <div id="content" class="p-4 p-md-5 pt-5 w-100">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    
    <script type="text/javascript" charset="utf8" src="/static/scripts/datatables.min.js"></script>
    <!--<script src="js/popper.js"></script>-->

    <script>

        $(function(){
            $("[data-toggle=tooltip").tooltip();
        });

        (function($) {

            "use strict";

            var fullHeight = function() {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function(){
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();
        

        $('#sidebarCollapse').on('click', function () {
            $(this).toggleClass('closed');
            $('#sidebar').toggleClass('active');
        });


        })(jQuery);
        
    </script>

    {% block scripts %}{% endblock %}

    {% endblock %}


