body {

}

.w-15{
    width: 15% !important;
}

.w-10{
    width: 10% !important;
}
.w-5{
    width: 5% !important;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

/*.justify-content-between{
    justify-content: space-between;
}*/

/* styles for validation helpers */

.btn{
    border-radius: 0;
}
.btn-light{
    font-size: 1.3rem;
    box-shadow: 0px 2px 10px #999!important;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.form-control{
    border-radius: 0 !important;
    margin: 0.5rem 0 1rem 0;
}

.header-input{
    font-size: 2rem;
    padding: 0;
    
}
.header-input:focus{
    box-shadow: none;
    border-bottom-style: solid !important;
    border-width: 0 0 1px 0 !important;
}

/*  Sidebar */
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #32373d;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
    #sidebar .h6 {
      color: #fff; }
    #sidebar.active {
      margin-left: -300px; }
      #sidebar.active .custom-menu {
        margin-right: -50px; }
      #sidebar.active .btn.btn-primary:before {
        content: "\f054";
        font-family: "FontAwesome";
        left: 2px !important; }
      #sidebar.active .btn.btn-primary:after {
        display: none; }
    #sidebar h1 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px; }
      #sidebar h1 .logo {
        color: #fff;
        display: block;
        padding: 10px 30px;
        background: #2f89fc; }
    #sidebar ul.components {
      padding: 0; }
    #sidebar ul li {
      font-size: 16px; }
      #sidebar ul li > ul {
        margin-left: 10px; }
        #sidebar ul li > ul li {
          font-size: 14px; }
      #sidebar ul li a {
        padding: 15px 30px;
        text-decoration: none;
        display: block;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
        #sidebar ul li a span.notif {
          position: relative; }
          #sidebar ul li a span.notif small {
            position: absolute;
            top: -3px;
            bottom: 0;
            right: -3px;
            width: 12px;
            height: 12px;
            content: '';
            background: red;
            border-radius: 50%;
            font-family: "Poppins", Arial, sans-serif;
            font-size: 8px; }
        #sidebar ul li a:hover {
          color: #fff;
          background: #2f89fc;
          border-bottom: 1px solid #2f89fc; }
      #sidebar ul li.active > a {
        background: transparent;
        color: #fff; }
        #sidebar ul li.active > a:hover {
          background: #2f89fc;
          border-bottom: 1px solid #2f89fc; }
    @media (max-width: 991.98px) {
      #sidebar {
        margin-left: -300px; }
        #sidebar.active {
          margin-left: 0; }
        #sidebar .custom-menu {
          margin-right: -60px !important;
          top: 10px !important; } }
    #sidebar .custom-menu {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 0;
      margin-right: -35px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (prefers-reduced-motion: reduce) {
        #sidebar .custom-menu {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      #sidebar .custom-menu .btn.btn-primary {
        background: #2f89fc;
        border-color: transparent;
        position: relative;
        color: #000;
        width: 30px;
        height: 30px; }
        #sidebar .custom-menu .btn.btn-primary:after, #sidebar .custom-menu .btn.btn-primary:before {
          position: absolute;
          top: 2px;
          left: 0;
          right: 0;
          bottom: 0;
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          color: #fff; }
        #sidebar .custom-menu .btn.btn-primary:after {
          font-weight: bold;
          content: "\f053";
          right: 2px; }
  
  .bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0; }
    .bg-wrap:after {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: #000;
      opacity: .3; }
    .bg-wrap .user-logo .img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 10px; }
    .bg-wrap .user-logo h3 {
      color: #fff;
      font-size: 18px; }
  
  a[data-toggle="collapse"] {
    position: relative; }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  @media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; } }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  
  .btn.btn-primary {
    background: #2f89fc;
    border-color: #2f89fc; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #2f89fc !important;
      border-color: #2f89fc !important; }
  
  .footer p {
    color: rgba(255, 255, 255, 0.5); }

/* top bar */
#top-bar{
}
    @media (prefers-reduced-motion: reduce) {
        #top-bar .custom-menu {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      #top-bar .custom-menu .btn.btn-primary {
        background: #2f89fc;
        border-color: transparent;
        position: relative;
        color: #000;
        width: 30px;
        height: 30px; }
        #top-bar .custom-menu .btn.btn-primary:after, #sidebar .custom-menu .btn.btn-primary:before {
          position: absolute;
          top: 2px;
          left: 0;
          right: 0;
          bottom: 0;
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          color: #fff; }
        #top-bar .custom-menu .btn.btn-primary:after {
          font-weight: bold;
          content: "\f053";
          right: 2px; }
        #top-bar .custom-menu .btn.btn-primary.closed:after {
            font-weight: bold;
            content: "\f054";
            right: 2px; }

.header-row{
    height: auto;
}

.prayer-container{
    margin: 3vh 0;
}

#prayer-request_wrapper{
    min-height: 60vh;
}

/* Prayer Request comments sections */

.comment-container{
    border-bottom: solid;
    border-bottom-width: 1px;
    margin: 0 0 5px 0;
}

/* custom boostrap card css */
.card{
    box-shadow: 0px 2px 10px #999!important;
}
.card-body{
    /*padding: 2rem;*/
}
